@import 'normalize'
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap')

// Colors

$White: #FAFAFA
$Black: #141C33
$Blue: #3778FC
$BlueDark: #0370FF
$Purple: #6C48D3
$PurpleDark: #4D4DE2
$Gradient: linear-gradient(135deg, $Purple 0%, $PurpleDark 30%, $Blue 80%, $BlueDark 100%)
$Gradient2: linear-gradient(180deg, rgba(77,77,226,1) 0%, rgba(55,120,252,0.85) 70%, rgba(255,255,255,0) 100%)

$transition2s: 0.2s ease

// ---------------------------------------------

// Common

html
	font-size: 10px

body
	font-family: 'Poppins', sans-serif
	font-size: 1.8rem
	font-weight: 500
	line-height: 1
	letter-spacing: 0.07rem
	color: $White

	position: relative

.container
	max-width: 112.2rem
	padding: 0 1.6rem
	margin: 0 auto

h1
	font-size: 6.4rem

h2
	font-size: 4.8rem

h3
	font-size: 3.6rem

h4
	font-size: 2.4rem

h5
	font-size: 1.8rem

h1, h2, h3, h4, h5
	font-weight: 700
	line-height: 1.4
	letter-spacing: 0
	color: $White

p
	font-size: 1.8rem
	font-weight: 500
	line-height: 1.55
	letter-spacing: 0.07rem

.btn
	font-size: 1.8rem
	font-weight: 700
	letter-spacing: 0.07rem
	color: $White

	display: inline-block

	cursor: pointer

	background-color: transparent

	border: 2px solid $White
	border-radius: 0.4rem

	padding: 8px 22px

	transition: $transition2s

	&:hover
		color: $Black
		background-color: $White

.btn-link
	padding-left: 48px
	position: relative

	&::before
		content: ""
		display: block
		width: 1.7rem
		height: 1.7rem
		left: 2.4rem
		top: 50%
		transform: translateY(-50%)
		position: absolute

		background-image: url("../img/icons/link-icon.svg")
		background-size: contain
		background-repeat: no-repeat

@media ( max-width:  375px)

	h2
		font-size: 3.6rem

	.btn
		font-size: 14px

@keyframes fadeInUp
	from
		opacity: 0
		top: -80px

	to
		opacity: 1
		top: 0px

// ---------------------------------------------

// Background

.background
	position: fixed

	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: -100

	background: $Gradient

.background-img
	position: absolute

	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: -100

	.container
		margin: 0 auto
		position: relative

		z-index: inherit

	&__img
		position: absolute
		right: 0
		top: -45rem
		transform: rotate(45deg)

		z-index: inherit
// ---------------------------------------------

// Header

header
	position: absolute
	z-index: 100

	width: 100%
	left: 0
	top: 0
	right: 0

.header--scrolled
	position: fixed
	animation-name: fadeInUp
	animation-duration: .5s
	background: $Gradient2

.header
	max-width: 134.4rem
	margin: 0 auto
	padding: 1.65rem 1.6rem

	display: flex
	justify-content: space-between
	align-items: center

	&__logo
		display: block
		width: 4.5rem
		height: 4.5rem

		background-image: url('../img/logo.svg')
		background-size: contain
		background-position: center
		background-repeat: no-repeat

		border-radius: 50%

nav
	display: block

.navigation
	display: flex
	justify-content: center
	align-items: center

	&__item
		margin-left: 22px

		position: relative

		&:first-child
			margin-left: 0

		&::after
			content: ""
			width: 100%
			height: 0.1rem

			position: absolute
			left: 0
			right: 0
			bottom: 0

			background-color: $White

			opacity: 0

		&.active::after
			opacity: 1

	&__link
		letter-spacing: 0.06rem

@media ( max-width:  768px)
	.header
		nav
			display: none

@media ( max-width:  375px)

	.header
		padding: 0.8rem 3.6rem 0.8rem 1.6rem

		&__logo
			width: 3.7rem
			height: 3.7rem

		&__btn
			color: $Black
			border-color: $Black

// ---------------------------------------------

// Hero
.hero
	padding-top: 16rem

	.container
		display: flex
		justify-content: space-between
		flex-direction: row
		align-items: center

	&__info
		max-width: 58rem

		h2
			margin-top: 0
			margin-bottom: 1.2rem

		h4
			margin-bottom: 5rem

	.links
		&__box
			display: flex

	&__photo
		img
			width: 100%
			border-radius: 50%

.links

	&__box
		display: flex

	&__item
		width: 6.2rem
		height: 6.2rem
		margin-right: 17px

		&:last-child
			margin-right: 0

		a
			background-repeat: no-repeat
			background-position: center
			background-size: contain
			display: block
			width: 100%
			height: 100%

		&:first-child
			a
				background-image: url('../img/icons/linkedin.svg')
		&:nth-child(2)
			a
				background-image: url('../img/icons/dribbble.svg')

		&:nth-child(3)
			a
				background-image: url('../img/icons/github.svg')

		&:last-child
			a
				background-image: url('../img/icons/instagram.svg')

@media ( max-width:  768px)
	.hero
		margin-top: 10.5rem

		.container
			flex-direction: column-reverse

		&__photo
			margin-bottom: 3rem

@media ( max-width:  375px)
	.hero
		margin-top: 10.5rem

		&__photo
			width: 234px
			height: 234px

			margin-bottom: 2rem

		&__info
			text-align: center

	.links

		&__box
			justify-content: space-between

// ---------------------------------------------

// About me

.info
	padding: 250px 0

	h2
		text-align: center
		padding-bottom: 50px

.skills
	display: flex
	max-width: 1014px
	margin: 0 auto

	&__info
		// letter-spacing: 0.07rem
		margin-right: 16px

	&__img
		max-height: 170px

	&__list
		display: flex
		justify-content: center

		display: flex
		height: 100%

	&__item
		width: 75px
		height: 94px
		background-image: url("../img/skills/skill-1.svg")
		background-repeat: no-repeat
		background-size: contain

		margin-right: 13px

		&:last-child
			margin-right: 0

		&:nth-child(odd)
			align-self: start

		&:nth-child(even)
			align-self: end

		&:nth-child(1)
			margin-top: 2.2rem
			background-image: url("../img/skills/skill-1.svg")

		&:nth-child(2)
			background-image: url("../img/skills/skill-2.svg")

		&:nth-child(3)
			background-image: url("../img/skills/skill-3.svg")

		&:nth-child(4)
			background-image: url("../img/skills/skill-4.svg")

		&:nth-child(5)
			margin-top: 2.2rem
			background-image: url("../img/skills/skill-5.svg")

// ---------------------------------------------

// Projects

.h2__projects
	margin-bottom: 5rem
	text-align: center

.project
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center

	margin-bottom: 12rem

	&__img
		height: 30rem
		margin-right: 16px
		flex: 1 1 0
		border-radius: 1rem

	&__info
		flex: 1 1 0

	&__title
		margin-bottom: 1.6rem

	&__desc
		margin-bottom: 3.2rem

	&__btn
		padding: 12px 22px 12px 46px

	&:nth-child(2)
		.project__img
			background-image: url("../img/projects/project-1.jpg")

	&:nth-child(3)
		.project__img
			background-image: url("../img/projects/project-2.jpg")

	&:nth-child(4)
		margin-bottom: 0
		.project__img
			background-image: url("../img/projects/project-3.jpg")

	&:nth-child(odd)
		flex-direction: row-reverse

		.project__img
			margin-right: 0

		.project__info
			margin-right: 1.6rem

// ---------------------------------------------

// Contacts

.contacts
	padding: 10.2rem 0 8.8rem

	&__container
		max-width: 46rem

	&__title
		text-align: center
		margin-bottom: 5.4rem

form

	label
		font-size: 1.4rem
		letter-spacing: 0
		display: block

		margin-bottom: 0.9rem

	input
		width: 100%
		height: 4.8rem
		margin-bottom: 2rem

		padding: 1rem 1.6rem

		border-radius: 0.6rem
		border: 2px solid rgba($Black, 0.5)

		&::placeholder
			font-size: 20px
			color: rgba($Black, 0.5)

	textarea
		width: 100%
		height: 18rem
		padding: 1rem 1.6rem
		resize: none
		border-radius: 0.6rem
		border: 2px solid rgba($Black, 0.5)

		margin-bottom: 4.8rem

	button.btn
		float: right
		padding: 0.8rem 2.8rem

// ---------------------------------------------

// Footer

footer
	padding: 1.8rem 0

	p
		text-align: center

// ---------------------------------------------
