section.info
	.container 
		h2 Sobre mí
		.skills
			p.skills__info.
				Soy un estudiante de universidad con sede en Tijuana, México. Tengo una base sólida para el diseño de UI, especialmente en dispositivos móviles. Además, tengo conocimiento en desarrollo frontend con tecnologías como HTML Y CSS que pueden ser útiles para colaborar con desarrolladores.
			.skills__img 
				ul.skills__list 
					li.skills__item
					li.skills__item
					li.skills__item
					li.skills__item
					li.skills__item
				