header 
	.header 

		a.header__logo(href="#") 

		nav 
			ul.navigation 
				li.navigation__item.active
					a(href="#").navigation__link Inicio
				li.navigation__item 
					a(href="#").navigation__link Sobre mí
				li.navigation__item 
					a(href="#").navigation__link Proyectos
				li.navigation__item 
					a(href="#").navigation__link Contacto

		button.header__btn.btn Descargar CV