section.hero 
	.container 
		.hero__info 
			h2 ¡Hola! Soy Jonathan
			h4 UI Designer , centrado en apps móviles 👋
			.links 
				ul.links__box
					li.links__item
						a(href="#")
					li.links__item
						a(href="#")
					li.links__item
						a(href="#")
					li.links__item
						a(href="#")

		.hero__photo
			img(src="@img/photo.jpg", alt="Photo")