section.projects 
	.container 
		h2.h2__projects Proyectos
		.project 
			.project__img 
			.project__info 
				h3.project__title Party2Go Landing Page
				p.project__desc.
					En este proyecto me enfoque en la creación de un style guide, además de utilizar la metodología Atomic Design para la creación de componentes.
				a.project__btn.btn.btn-link Link al proyecto en Figma

		.project 
			.project__img 
			.project__info 
				h3.project__title CasaLimpia.mx App
				p.project__desc.
					Es una aplicación para pasear perros que mostrará a los paseadores de perros de tu área y también podrás ver más información sobre ellos. 
				a.project__btn.btn.btn-link Link al proyecto en Figma

		.project 
			.project__img 
			.project__info 
				h3.project__title Rocket Pizza App
				p.project__desc.
					La idea princical fue crear mockups en donde un usuario pueda ordernar el tipo de pizza que desee y al final poder pagar por medio de su registro en Facebook.
				a.project__btn.btn.btn-link Link al proyecto en Adobe XD