section.projects 
	.container 
		h2 Proyectos
		.project 
			.project__img 
			.project__info 
				h3.project__title Party2Go Landing Page
				p.project__desc.
					En este proyecto me enfoque en la creación de un style guide, además de utilizar la metodología Atomic Design para la creación de componentes.
				a.project__btn.btn Link al proyecto en Figma