doctype html
html(lang="sp")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Portfolio CV
		link(rel="stylesheet", href="css/style.css")
	body 
		.background
		.background-img
			.container
				img.background-img__img(src="@img/bg.svg", alt="bg")

		include pug/header
		include pug/hero
		include pug/about-me
		include pug/projects
		include pug/contacts


		script(src="js/app.min.js")