doctype html
html(lang="sp")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Portfolio CV
		link(rel="stylesheet", href="css/style.css")
	body 

		include pug/header
		
		.background 
			img.background__img(src="@img/bg.svg", alt="bg")

		include pug/about_me

		script(src="js/app.min.js") 